 <% include  ../partials/header %>

<div class="container">
    <div class="row">
<h1 style="text-align: center;"> Enter Your Details </h1>
        <div style="width: 30%; margin: 30px auto;">
 <form action='/books/<%= book._id %>/buy/otp/verify' method='POST' class="buydetails-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Shipping Address</label>
                              
                                <input class="form-control" type = "text" name = "buy[shipping]" placeholder ="Shipping Address" required> 
                        </div>

                        <div class="form-group">
                                <label for="exampleInputEmail1">Pincode</label>
                                <input class="form-control" type = "text" name = "buy[pincode]" placeholder ="Pincode" required> 
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">City</label>
                                <input class="form-control" type = "text" name = "buy[city]" placeholder = "City" required>
                        </div>
                      
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mobile No</label>
                                <input style="width: 50%; display:inline-block;" class="form-control" type = "text" name = "buy[phone_no]" placeholder = "Mobile no" required> <span><a href="#" class="btn btn-danger verify-otp">Verify OTP</a></span>
                        </div>
   
     
                        <div class="form-group">
                                 <button class="btn btn-default btn-lg showcase-btn btn-block submit-buy" > Submit! </button>
                        </div>
 
     
 </form>
   <a href="/books/<%= book._id %>">Go back</a>
       </div>
    </div>
</div>

 <% include  ../partials/footer %>