<% include  ../partials/header %>

<div class="container">
    <div class="row">
<h1 style="text-align: center;"> Enter details of Book </h1>
        <div style="width: 30%; margin: 30px auto;">
 <form action="/books" method = "POST">
                        <div class="form-group">
                              
                                <input class="form-control" type = "text" name = "name" placeholder ="name" required> 
                        </div>

                        <div class="form-group">
                   
                                <input class="form-control" type = "text" name = "writer" placeholder ="author" required> 
                        </div>

                        <div class="form-group">
                                <input class="form-control" type = "text" name = "image" placeholder = "Image URL" required>
                        </div>
                      
                        <div class="form-group">
                                <input class="form-control" type = "text" name = "condition" placeholder = "Book Condition" required>
                        </div>
     
                        <div class="form-group">
                                <input class="form-control" type = "text" name = "price" placeholder = "Book Price" required>
                        </div>
                         
                        <div class="form-group">
                                <input class="form-control" type = "text" name = "edition" placeholder = "Edition" required>
                        </div>
                        
                        <div class="form-group">
                                <input class="form-control" type = "text" name = "publisher" placeholder = "Publisher" required>
                        </div>
     
                         <div class="form-group">
                                <input class="form-control" type = "text" name = "pages" placeholder = "Pages" required>
                        </div>
     
                         <div class="form-group">
                                <input class="form-control" type = "text" name = "language" placeholder = "Language" required>
                        </div>
                        
                        <div class="form-group">
                                <input class="form-control" type = "text" name = "format" placeholder = "Format: paperback etc" required>
                        </div>

                        <div class="form-group">
                               <textarea class="form-control" type="text" name="description" placeholder="description" required>

                               </textarea>


                        </div>
  
  

                        <div class="form-group">
                                 <button class="btn btn-default btn-lg showcase-btn btn-block"> Submit! </button>
                        </div>
 
     
 </form>
   <a href="/books">Go back</a>
       </div>
    </div>
</div>
 <% include  ../partials/footer %>
