<% include  ../partials/header %>


<div class="container">
    
    <div style="width: 30%; margin: 30px auto;">
<h1> Request Submitted!</h1>

<p>You will be notified via Email when book is available within 24 Hours</p>


<a href="/books">Go back</a>

</div>
</div>

<% include  ../partials/footer %>